<nav class="grey darken-3">
  <div class="nav-wrapper">
    <div class="col s12 ">
      <a href="#" class="brand-logo right">TechBase</a>
      <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a class="nav-link" href="/posts">Posts</a></li>
        <li> <a class="nav-link btn btn-small" href="/posts/new">WRITE A POST</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>