<nav class="grey darken-3">
  <div class="nav-wrapper">
    <div class="col s12 ">
      <a href="#" class="brand-logo right">TechBase</a>
      <ul class="left">
        <li> <%= link_to "Home", root_path %></li>
        <li> <%= link_to "Posts", posts_path %></li>
        <li> <%= link_to "WRITE A POST", posts_new_path,  class:"btn btn-small" %></li>
        <li> <%= link_to "About",  about_path %></li>
      </ul>
    </div>
  </div>
</nav>