.card{
    &.small{
   height: 230px;
  }
  .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      font-weight: 800;
      font-family: Dank Mono,Consolas,monospace;
      text-transform: capitalize;
  }
  .card-text{
    font-size: 15px;
    font-weight: 400;
  }
  .card-action{
    display: flex;
    justify-content: space-between;
    padding: 15px 24px;

    #btn{
      a{
        color:#26a69a;
      }
    }
  }
}

.category{
  padding: 0px 0px 0px 0px;
}

#btn{
  .btn{
    margin-top: 5px;
  }
}

#truncate{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userIcon{
  border-radius: 70px;
  float: right;
  margin-top: 1px;

}
