.card{
    &.small{
   height: 230px;
  }
  .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      font-weight: 800;
      font-family: Dank Mono,Consolas,monospace;
      text-transform: capitalize;
  }
  .card-text{
    font-size: 15px;
    font-weight: 400;
  }
}
